//custom grid to use within applications
.container{
	width: $full-width;
	height: $full-height;
}

@each $column, $width in (one-quarter:4, one-half:2, three-quarters:1.3, full-width:1){
	.#{$column}-s {
		@include inline-block();
		width: $full-width / $width;
	}
}


@include min-breakpoint($sassySmall){
	@each $column, $width in (one-quarter:4, one-half:2, three-quarters:1.3, full-width:1){
		.#{$column}-m {
			@include inline-block();
			width: $full-width / $width;
		}
	}
}

@include min-breakpoint($sassyMed){
	@each $column, $width in (one-quarter:4, one-half:2, three-quarters:1.3, full-width:1){
		.#{$column}-l {
			@include inline-block();
			width: $full-width / $width;
		}
	}
}