* {
  box-sizing: border-box; }

html {
  font-size: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.container {
  width: 100%;
  height: 100%; }

.one-quarter-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 25%; }

.one-half-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 50%; }

.three-quarters-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 76.92308%; }

.full-width-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%; }

@media only screen and (min-width: 600px) {
  .one-quarter-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 25%; }
  .one-half-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 50%; }
  .three-quarters-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 76.92308%; }
  .full-width-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 100%; } }

@media only screen and (min-width: 1040px) {
  .one-quarter-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 25%; }
  .one-half-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 50%; }
  .three-quarters-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 76.92308%; }
  .full-width-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 100%; } }

.app-container {
  background-color: white;
  overflow: auto; }

.navigation-content {
  background-color: white;
  border-bottom: 1px solid gold; }

.menu-list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 70%;
  text-align: right; }

.menu-links {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  text-align: center; }
  .menu-links a {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 12px 10px;
    padding: 0.75rem 0.625rem;
    text-decoration: none;
    display: block;
    color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .menu-links a:hover, .menu-links a:focus {
      color: white;
      background-color: rgba(255, 188, 0, 0.4); }

.doctor-section {
  background-color: rgba(232, 133, 63, 0.15);
  border-radius: 10px;
  margin-top: 5px;
  margin-top: 0.3125rem;
  border: 1px solid grey; }
  .doctor-section p {
    font-size: 20px;
    font-size: 1.25rem;
    color: black;
    text-align: center; }

.doctor-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  display: block; }

.doctor-caption {
  text-align: center;
  color: white; }
  .doctor-caption p {
    font-size: 17px;
    font-size: 1.0625rem; }

.doctor-button {
  margin: 10px 0px;
  margin: 0.625rem 0rem;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 15px 70px;
  padding: 0.9375rem 4.375rem;
  border: none;
  color: white;
  font-weight: 500;
  background-color: #E83B3B; }
  .doctor-button:hover, .doctor-button:focus {
    background-color: #F5C75B;
    outline: none; }

.chat-container {
  height: 100%;
  padding-left: 5px;
  margin-top: 5px;
  margin-top: 0.3125rem; }

.chat-thread {
  border-radius: 10px;
  border: 1px solid grey;
  height: 83.33333%;
  background-color: rgba(232, 133, 63, 0.15);
  position: relative; }

.chat-callresponse {
  height: 80%;
  overflow: scroll;
  position: relative; }

.chat-scroll-container {
  position: absolute;
  overflow: scroll;
  bottom: 0; }

.chat-message-bot {
  padding: 10px 10px 10px 5px;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  margin: 0px 10px 10px 10px;
  margin: 0rem 0.625rem 0.625rem 0.625rem;
  border-radius: 20px;
  display: inline-block;
  background-color: #23A084;
  max-width: 50%;
  font-weight: 600;
  font-size: 14;
  color: white; }

.chat-message-containerBot, .chat-message-containerUser {
  position: relative;
  top: 60%; }

.chat-message-containerUser {
  text-align: right; }

.chat-message-user {
  padding: 10px 10px 10px 5px;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  margin: 0px 10px 10px 0px;
  margin: 0rem 0.625rem 0.625rem 0rem;
  border-radius: 20px;
  display: inline-block;
  background-color: #E83B3B;
  max-width: 50%;
  font-weight: 600;
  font-size: 14;
  color: white; }

.chat-userOptions {
  height: 20%;
  text-align: center;
  border-top: 1px solid grey; }

.chat-userOptions button {
  margin-left: 1%; }

.chat-optionButton {
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 15px 15px 15px 15px;
  padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  border: none;
  color: white;
  font-weight: 500;
  background-color: #E83B3B; }
  .chat-optionButton:hover, .chat-optionButton:focus {
    background-color: #F5C75B;
    outline: none; }
