// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
$sassyMedSmall:800;
$sassySmall: 600;
$sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: 'Ubuntu', sans-serif;;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
$full-height: 100%;
$full-width: 100%;

// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------
$menu-background: rgba(57, 9, 99, 0.84);
$container-background: white;
$app-background: #efefef;
$menu-hover: #f9d8ce;
$text-color: #f8f5f2;
$border-gold: #f98a01;
$border-content: 1px solid $border-gold;
