// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
$sassySmall: 600;
$sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
$full-height: 100%;
$full-width: 100%;

// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------
$menu-background: #f8e4db;
$app-background: #333348;
$menu-hover: #f9d8ce;
$text-color: #f8f5f2;
