//contains overall container styling
.chat-container{
	@include rem("padding",0,5);
	@include rem("margin-top",5);
	height: $full-height * .9;
}

.chat-thread{
	@extend %section-shadow;
    @include roundedCorners(5);
    background-color: $container-background;
	height: $full-height * .98;
	position:relative;

}

//contains styling for the scrolling div
.chat-callresponse{
	height:80%;
	overflow:scroll;
	position:relative;
}

.chat-scroll-container{
	position:absolute;
	overflow:scroll;
	bottom:0;
}

//messsages which render for the bot's messages
.chat-message-bot{
	@extend %chatMessageBasic;
	@include rem("margin",0,10,10,10);
	background-color:#23A084;

	img{
		@include roundedCorners(10);
	}

}

.chat-message-image{
	min-width:210px;
}

.chat-message-bot-gif{
	@include margin-auto();
	max-width:80%;
	max-height:80%;
	display:inline-block;
}

.chat-message-containerBot{
	position:relative;
	top:60%;
}

//messsages which render for the user's messages
.chat-message-containerUser{
	@extend .chat-message-containerBot;
	text-align:right;
}

.chat-message-user{
	@extend %chatMessageBasic;
	@include rem("margin",0,10,10,0);
	background-color: #E83B3B;
}

.chat-userOptions{
	height:20%;
	text-align:center;
	border-top: 1px solid $border-gold;
}

.chat-userOptions button{
	margin-left:1%;
} 

//buttons which render the user's responses
.chat-optionButton{
	@include rem("margin-top",10);
	@include rem("font-size",15);
	@include rem("padding",15,15,15,15);
	@extend %buttonBasic;

	&:hover,&:focus{
		background-color:#F5C75B;
		outline:none;
		color:black;
	}
}

//animations for the use and bot messages
.chat-message-slidein-left{
	animation: 0.6s linear 0s slidein-left;
}

@include keyframes(slidein-left){
	from{
		right:100%;
	}
	to{
		right:0;
	}
}

.chat-message-slidein-right{
	animation: 0.4s linear 0s slidein-right;
}

@include keyframes(slidein-right){
	from{
		left:100%;
	}
	to{
		left:0;
	}
}
