//doctor section container styling
.doctor-container{
	@include rem("padding",0,5);
}

.doctor-section{
	@extend %section-shadow;
	@include roundedCorners(5);
	@include rem("margin-top",5);
	background-color: $container-background;

	p{
		@include rem("font-size",20);
		color:black;	
		text-align:center;
	}	
}

.doctor-section div:first-child{
	@include roundedCorners(20);
}

//hero image for doctor section hero image
.doctor-image{
	@include margin-auto();
	@include roundedCorners(10);
	display:block;
	width:100%;
	height:auto;

}

@include min-breakpoint($sassyMed){
	.doctor-image{
		max-width:50%;
	}
}

//doctor caption styling
.doctor-caption{
	@include align(center);
	color:white;
	border-top:1px solid $border-gold;

	p{
		@include rem("font-size",17);
	}

}

//CTA styling for doctor section
.doctor-button{
	@extend %buttonBasic;
	@include rem("margin",10,0);
	@include rem("font-size",18);
	@include rem("padding",15,70);
	

	&:hover,&:focus{
		background-color:#F5C75B;
		outline:none;
		color:black;
	}
}

@include breakpoint($sassySmall){
	.doctor-section{
		display:none;
	}
}