.doctor-container{
	@include rem("padding",0,5);
}


.doctor-section{
	background-color: $container-background;
	@include roundedCorners(10);
	@include rem("margin-top",5);
	border: 1px solid grey;

	p{
		@include rem("font-size",20);
		color:black;	
		text-align:center;
	}	
}

.doctor-image{
	@include margin-auto();
	@include roundedCorners(100);
	display: block;
}

.doctor-caption{
	@include align(center);
	color:white;

	p{
		@include rem("font-size",17);
	}

}

.doctor-button{
	@include rem("margin",10,0);
	@include rem("font-size",18);
	@include rem("padding",15,70);
	border:none;
	color:white;
	font-weight:500;
	background-color:#E83B3B;

	&:hover,&:focus{
		background-color:#F5C75B;
		outline:none;
	}
}

@include breakpoint($sassySmall){
	.doctor-section{
		display:none;
	}
}