


.menu-links{

	a{
		@include rem("font-size",20);
		@include rem("padding",10,0,10,10);
		background-color: #284254;
		text-decoration: none;
		display: block;
		color: white;
		transition: all 0.3s;

			&:hover,&:focus{
				color:black;
				background-color: #6171A0;
			}
	}
}

.menu-links:first-of-type a{
	border-radius: 20px 20px 0 0;
}

.menu-links:last-of-type a{
	border-radius: 0 0 20px 20px;
}

.fa{
	margin-right:2%;
}




