.navigation-content{
	background-color:white;
	border-bottom: 1px solid gold;
}


.menu-list{
	@include inline-block();
	width:70%;
	@include align(right);
}

.menu-links{
	@include inline-block();
	@include align(center);

	a{
		@include rem("font-size",20);
		@include rem("padding",12,10);
		text-decoration: none;
		display: block;
		color: black;
		transition: all 0.3s;

			&:hover,&:focus{
				color:white;
				background-color: rgba(255, 188, 0, 0.4);
			}
	}
}


.fa{

}




